<div class="container-fluid container-fullw bg-white">
	<!-- /// controller:  'ModalDemoCtrl' -  localtion: assets/js/controllers/bootstrapCtrl.js /// -->
	<div ng-controller="modalDemoCtrl">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-10">
					<p>&nbsp;</p>
					<span class="sims_span">常见问题：</span>
					<p>&nbsp;</p>
					<span class="sims_span">1.账号和密码是什么？</span>
					<p>本系统不需要用户进行注册，直接使用校园网账号即可登陆。</p>
					<p></p>
					<span class="sims_span">2.管理员怎么批量导入课程信息？</span>
					<p>直接点击“批量导入”按钮，上传Excel文件即可直接导入。</p>
					<p></p>
					<span class="sims_span">3.管理员如果批量删除课程信息？</span>
					<p>勾选需要删除的课程信息第一列的方框，所有需要删除的信息勾选完毕后，点击删除按钮即可批量删除。</p>
					<p></p>
					<span class="sims_span">4.学生如何购买课本教材？</span>
					<p>登陆系统后，界面直接显示本学期的课程信息，可选择二手书或新书购买，提供一键购买功能直接购买全部教材。</p>
				</div>
				<div class="col-md-10">
					<button type="button" class="btn btn-primary"
						onClick="javascript: history.go(-1);">返回</button>
				</div>
			</div>
		</div>
	</div>
</div>