<div class="container-fluid container-fullw bg-white">
	<!-- /// controller:  'ModalDemoCtrl' -  localtion: assets/js/controllers/bootstrapCtrl.js /// -->
	<div ng-controller="modalDemoCtrl">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-10">
					<span class="sims_span"><p>用户名：abcde</p></span>
					<span class="sims_span"><p>用户角色：学生</p></span>
					<span class="sims_span"><p>学院：计算机与信息科学学院 软件学院</p></span>
					<span class="sims_span"><p>专业：计算机科学与技术</p></span>
					<span class="sims_span"><p>班级：计算机科学与技术2班</p></span>
					<p></p>
				</div>
				<div class="col-md-10">
					<button type="button" class="btn btn-primary"
						onClick="javascript: history.go(-1);">返回</button>
				</div>
			</div>
		</div>
	</div>
</div>